#item {
    width: 100%;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.30);
}

#item:hover {
    border: 1px solid;
}

#item-toolbar {
    width: 100%;
}

#button {
    width : 100%;
}

#toolbar {
    font-weight: 800;
    font-size: 16px;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: #3f51b5;
    line-height: 10px;
}

#text {
    margin-top : 10px;
}



